* {
    
    margin: 0;
    padding: 0;
    
}

body {
    background-color: black;
}

.gridContainer {
    margin-left: auto;
    margin-right: auto;
    height: 800px;
    width: 800px;
    max-height: 800px;

    max-width: 800px;
    border-radius: 10px;

    border: 1px solid gray;

    display: flex;
    flex-wrap: wrap;
    
}

.cellRow {
    border: 1px solid white;
    box-sizing: border-box;
    border-radius: 10px;
}

.buttonContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    
    height: 100px;
}

.mysteriousButton {
    padding: 10px 30px;
}

.containerOfGridBox {
   
    border: green;
   
}

button {
    border: solid rgb(104, 102, 102);
    border-radius: 10px;
}



